name: Build Mac App

on: workflow_dispatch  # 允许手动点击按钮触发

jobs:
  build:
    runs-on: macos-latest  # 使用最新的 Mac 系统

    steps:
    - name: 下载代码
      uses: actions/checkout@v3

    - name: 安装 Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: 安装依赖库
      run: |
        pip install -r requirement.txt

    - name: 开始打包
      run: |
        python build.py

    - name: 上传结果
      uses: actions/upload-artifact@v4
      with:
        name: Mac版变声器
        path: dist/
